# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [92]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum(axis = 0)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
salaries.groupby(['Department','Salary or Hourly']).size()

Department             Salary or Hourly
ADMIN HEARNG           Salary                 39
ANIMAL CONTRL          Hourly                 19
                       Salary                 62
AVIATION               Hourly               1082
                       Salary                547
BOARD OF ELECTION      Salary                107
BOARD OF ETHICS        Salary                  8
BUDGET & MGMT          Hourly                  2
                       Salary                 44
BUILDINGS              Salary                269
BUSINESS AFFAIRS       Hourly                  7
                       Salary                164
CITY CLERK             Salary                 84
CITY COUNCIL           Hourly                 64
                       Salary                347
COMMUNITY DEVELOPMENT  Hourly                  4
                       Salary                203
COPA                   Salary                116
CULTURAL AFFAIRS       Hourly                  7
                       Salary                 58
DISABILITIES           Salary                 28
DoIT                   Salary                 99
FAMILY & SUPPORT       Hourly                287
                       Salary                328
FINANCE                Hourly                 44
                       Salary                516
FIRE                   Hourly                  2
                       Salary               4639
GENERAL SERVICES       Hourly                765
                       Salary                215
HEALTH                 Hourly                  3
                       Salary                485
HUMAN RELATIONS        Salary                 16
HUMAN RESOURCES        Hourly                  4
                       Salary                 75
INSPECTOR GEN          Salary                 87
LAW                    Hourly                 40
                       Salary                367
LICENSE APPL COMM      Salary                  1
MAYOR'S OFFICE         Hourly                  8
                       Salary                 77
OEMC                   Hourly               1273
                       Salary                829
POLICE                 Hourly                 10
                       Salary              13404
POLICE BOARD           Salary                  2
PROCUREMENT            Hourly                  2
                       Salary                 90
PUBLIC LIBRARY         Hourly                299
                       Salary                716
STREETS & SAN          Hourly               1862
                       Salary                336
TRANSPORTN             Hourly                725
                       Salary                415
TREASURER              Salary                 22
WATER MGMNT            Hourly               1513
                       Salary                366
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [10]:
from scipy import stats

In [22]:
# Your code here:
d= salaries[salaries['Hourly Rate'].notnull()]["Hourly Rate"]
stats.ttest_1samp(d,30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [35]:
# Your code here:
e= salaries[salaries['Annual Salary'].notnull()]['Annual Salary'][(salaries['Department']=='POLICE')]
stats.ttest_1samp(e,86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [68]:
# Your code here:
new_df = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

In [61]:
new_df[new_df['Hourly']==new_df['Hourly'].max()].index

Index(['STREETS & SAN'], dtype='object', name='Department')

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [69]:
# Your code here:
f= salaries[salaries['Hourly Rate'].notnull()]['Hourly Rate'][(salaries['Department']=='STREETS & SAN')]
stats.ttest_1samp(f,35)

#pvalue te dice si es distinto o igual al valor
#statistics te dice si es distinto o igual por debajo o por arriba del valor

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [72]:
# Your code here:
k=salaries[salaries['Hourly Rate'].notnull()]['Hourly Rate']
g= k.mean()
g

32.78855771628024

In [85]:
stats.t.interval(0.95, len(k)-1, k.mean(), stats.sem(k))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [86]:
stats.t.interval(0.95, len(e)-1, e.mean(), stats.sem(e))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [96]:
#!pip3 install --user statsmodels

Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/a6/32/5f8cff131e678a73b8f390ff7d8a04d502ed45e379378a0c5b9c25175239/statsmodels-0.10.2-cp37-cp37m-manylinux1_x86_64.whl (8.1MB)
     |████████████████████████████████| 8.1MB 14.2MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.11 in /home/clara/.local/lib/python3.7/site-packages (from statsmodels) (1.17.3)
Requirement already satisfied: scipy>=0.18 in /home/clara/.local/lib/python3.7/site-packages (from statsmodels) (1.3.2)
Collecting patsy>=0.4.0
  Downloading https://files.pythonhosted.org/packages/ea/0c/5f61f1a3d4385d6bf83b83ea495068857ff8dfb89e74824c6e9eb63286d8/patsy-0.5.1-py2.py3-none-any.whl (231kB)
     |████████████████████████████████| 235kB 28.4MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.19 in /home/clara/.local/lib/python3.7/site-packages (from statsmodels) (0.25.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.4.0->statsmodels) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas>=0.19->statsmodels) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3/dist-packages (from pandas>=0.19->statsmodels) (2.7.3)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.1 statsmodels-0.10.2

In [98]:
from statsmodels.stats.proportion import proportions_ztest

In [107]:
# Your code here:
proportions_ztest(len(k), len(salaries), 0.25)

(-3.5099964213703005, 0.0004481127249057967)